* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #252525;
}

.player-box {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background-color: blakc;
  display: flex;
  align-items: flex-end;
  background-image: url("img/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#cover {
  width: 100px;
  height: 100%;
}

.player {
  width: 100%;
  height: 100%;
  padding: 0px 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
}

.infos {
  min-width: 350px;
  max-width: auto;
  height: auto;
}

.artist, .song {
  color: white;
  font-size: 16px;
}

.volumecontrols {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

#volumebtn {
  width: 60px;
  height: 60px;
  fill: white;
}

#volume {
  display: none;
}

.volumecontrols:hover #volume {
  display: initial;
}

.visible {
  display: initial !important;
}
